<form id="demoForm">
	<p>Enter your phone number below and get a call back immediately.</p>

	<div class="row">
		<div class="6u 12u(mobilep)">
			<input type="tel" name="phone" placeholder="Phone Number" />
		</div>
		<div class="3u 12u(mobilep)">
			<select name="country">
				<option value="US">United States</option>
				<option value="CA">Canada</option>
				<option value="">Other</option>
			</select>
		</div>
		<div class="3u 12u(mobilep)">
			<input type="text" name="location" placeholder="Zipcode"/>
		</div>

		<div class="12u 12u(mobilep)">
			<!-- mailchimp requires input name in all caps -->
			<input type="email" name="EMAIL" placeholder="Email (optional, to hear about new features)"/>
		</div>

		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_ec3363d24d5bbc1f9b600a120_d707cc2443" tabindex="-1" value=""></div>
    
	</div>
	<div class="row">
		<div class="12u">
			<ul class="actions">
				<li><input type="submit" value="Call Now" /></li>
			</ul>
		</div>
	</div>
</form>

<div class="form-replace" style="display:none;">
    <h3>We're calling you now!</h3>

    <p>This is a demo of CallPower.org, which makes it easy for any organization to  create call-in campaigns. You will be asked to enter your location (if you didn't put it in before), so we can look up your representative. Then we'll connect you to their office, just so you can say &ldquo;hello&rdquo;. If you'd rather not talk to a real person, press the <em>* star</em> key to skip.</p>

	<p>If you're interested in getting CallPower for your organization, email us at <a href="mailto:info@callpower.org">info@callpower.org</a></p>
</div>