<form id="demo">
	<p>Enter your phone number below and get a call back immediately.</p>

	<div class="row">
		<div class="6u 12u(mobilep)">
			<input type="tel" name="phone" placeholder="Phone Number" />
		</div>
		<div class="6u 12u(mobilep)">
			<input type="text" name="zip" placeholder="Zipcode (optional)" />
		</div>
	</div>
	<div class="row">
		<div class="12u">
			<ul class="actions">
				<li><input type="submit" value="Call Now" /></li>
			</ul>
		</div>
	</div>
</form>

<div class="form-replace" style="display:none;">
    <h3>We're calling you now!</h3>

    <p>This is a demo of CallPower.org, which makes it easy for any organization to  create call-in campaigns. You will be asked to enter your zipcode (if you didn't put it in before), so we can look up your Senators and Representative. Then we'll connect you to their office, just so you can say &ldquo;hello&rdquo;. If you'd rather not talk to a real person, press the <em>* star</em> key to skip.</p>

	<p>If you're interested in getting CallPower for your organization, email us at <a href="mailto:info@callpower.org">info@callpower.org</a></p>
</div>