{% from "macros/_form.html" import render_field, render_label, render_input, render_button with context %}

{% set label_width = 'col-sm-2' %}
{% set control_width = 'col-sm-6' %}
{% macro render_field_default(field, offset='', control_class=control_width, group='') %}
    {%if offset%}{% set control_class = control_width+' '+offset %}{%endif%}
    {{ render_field(field, class_={'label': label_width,
                                   'control': control_class,
                                   'group': group}
                    ) }}
{% endmacro %}


{% set page_title = _("Campaign") %}

{% extends "layouts/base_admin.html" %}

{% block body %}
<h3>{% if edit %}Edit Campaign{%else%}New Campaign{%endif%}</h3>

<form class="form-horizontal" id="campaign" method="POST" action="" >
    {{ form.hidden_tag() }}

    <fieldset class="border">
        <legend>Type</legend>

        {{render_field_default(form.name) }}

        {{render_field_default(form.campaign_country)}}
        {{render_field_default(form.campaign_type)}}

        {% if form.campaign_state.choices %}
            {{render_field_default(form.campaign_state)}}
        {% endif %}

        {% if form.campaign_subtype.choices %}
            {{render_field_default(form.campaign_subtype)}}
        {% endif %}
    </fieldset>

    <fieldset class="border">
        <legend>Targets</legend>
        {{ render_field(form.segment_by, class_={'label': label_width,
                                                 'control': control_width,
                                                 'clear': True}) }}
        {{ render_field(form.locate_by, class_={'label': label_width,
                                                 'control': control_width,
                                                 'clear': True}) }}

        <div class="form-group special_targets">
        <label class="control-label col-sm-2"></label>
            <div class="controls col-sm-6">
                {{ form.show_special(class_ = 'checkbox-inline') }}
                {{ render_label(form.show_special, 'inline') }}
                {% with %}
                {% if form.include_special.data %}
                    {% set include_special_style = '' %}
                {% else %}
                    {% set include_special_style = 'display:none;' %}
                {% endif %}
                <div class="input-group inline" style="{{include_special_style}}">
                    {{ form.include_special() }}
                    {{ render_label(form.include_special, 'inline') }}
                </div>
                <span class="help-block"></span>
                {% endwith %}
            </div>
        </div>

        <div class="form-group hide-initial" id="set-targets">
            {{render_label(form.target_set, label_width)}}
            <div class="controls {{control_width}}">
                <div class="control-group">
                    <div class="input-group col-xs-10 col-sm-12 col-md-10 left" id="target-search">
                        <div class="search-results open">
                            <input type="text" class="form-control" name="target-search" placeholder="search"/>
                        </div>
                        <div class="input-group-btn search-field">
                          <button type="button" class="btn btn-flat btn-white dropdown-toggle" data-toggle="dropdown">Field <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#" id="state">State</a></li>
                            <li><a href="#" id="last_name">Name</a></li>
                            <!--<li><a href="#">Committee</a></li>-->
                          </ul>
                           <input type="hidden" name="search_field" />
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default search" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="glyphicon glyphicon-repeat spin hide-initial"></span>
                            </button>
                        </span>
                    </div>
                    <div class="input-group col-xs-2 right">
                        <button class="btn btn-primary add" type="button">Add</button>
                        <div class="description">
                            <span class="glyphicon glyphicon-info-sign info small"></span>
                            <span class="help-inline">{{ descriptions.get('target_set')|safe }}</span>
                        </div>
                    </div>
                </div>
                <span class="search-help-block"></span>

                <!-- target_set entries stored as hidden inputs named target_set-N-FIELD -->
                <div id="target-set" class="hidden">
                    {% if form.target_set.data|length %}
                    <input type="hidden" name="target_set_length" value="{{form.target_set|length}}" />
                    {% endif %}

                    {% for error in form.target_set.errors -%}
                    {# load errors here, for client-side display #}
                    <input type="hidden" name="{{error.target}}-error" value="{{ error.message }}" />
                    {%- endfor %}

                    {% for t in form.target_set.data %}
                    <input type="hidden" name="target_set-{{loop.index0}}-order" value="{{loop.index0}}" />
                    <input type="hidden" name="target_set-{{loop.index0}}-title" value="{{t.title}}" />
                    <input type="hidden" name="target_set-{{loop.index0}}-name" value="{{t.name}}" />
                    <input type="hidden" name="target_set-{{loop.index0}}-number" value="{{t.number.international}}" />
                    <input type="hidden" name="target_set-{{loop.index0}}-uid" value="{{t.uid}}" />
                    {% endfor %}
                </div>

                <ol class="target-list list-group sortable hide-initial"></ol>
                <span class="help-block"></span>
            </div>
        </div>

        {{render_field_default(form.target_ordering) }}
        {{render_field_default(form.target_offices) }}
        {{render_field_default(form.call_limit, offset='col-sm-offset-2') }}

        {% with %}
        {% if form.call_maximum.data > 0 %}
            {% set call_max_display = '' %}
        {% else %}
            {% set call_max_display = 'hide-initial' %}
        {% endif %}
        {{render_field_default(form.call_maximum, group=call_max_display) }}
        {% endwith %}
    </fieldset>

    <fieldset class="border">
        <legend>Phone Numbers</legend>
        {{render_field_default(form.phone_number_set) }}
        <div class="col-sm-6 col-sm-offset-2">
            <div class="pull-right"><a class="btn btn-default" href="/admin/system" target="_blank">Get More</a> </div>
        </div>
        {{render_field_default(form.allow_call_in, offset='col-sm-offset-2') }}

        {{render_field_default(form.prompt_schedule, offset='col-sm-offset-2') }}
    </fieldset>

    <div class="form-group container">
        <div class="form-actions">
            <div class="pull-left">
                <a href="{{url_for('campaign.country_type', campaign_id=campaign_id)}}" class="btn btn-warning">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
                </a>
                {% if edit %}
                    <a class="btn btn-warning" href="{{ url_for('campaign.status', campaign_id=campaign_id) }}"><span class="glyphicon glyphicon-edit"></span> Edit Status</a>
                {%endif%}
            </div>
            <div class="pull-right">
                {{render_button(form.submit, {'field':'btn-success', 'icon':'arrow-right'}) }}
                {% if campaign_has_audio %}
                 {{render_button(form.submit_skip_audio, {'field':'btn-primary', 'icon':'check'}) }}
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}

<script type="text/template" id="search-results-dropdown-tmpl">
    <ul class="dropdown-menu open">
      <li role="presentation" class="dropdown-header">
        Search Results <span class="close btn btn-default btn-xs">&times;</span>
      </li>
    </ul>
</script>

<script type="text/template" id="search-results-item-tmpl">
    <li class="result">
        <a data-object='{ "title":"<%= data.title %>",
                          "name":"<%= data.first_name %> <%= data.last_name %><% if (data.office_name){ %> <%= data.office_name %> office<% } %>",
                          "number":"<%= data.phone %>",
                          "uid": "<%= data.uid %>"
                        }'>
            <span class="text"><%= data.title %> <%= data.first_name %> <%= data.last_name %> <% if (data.office_name){ %>(<%= data.office_name %>)<% } %></span>
            <span class="phone"><%= data.phone %></span>
        </a>
    </li>
</script>

<script type="text/template" id="target-item-tmpl">
    <span data-field="title" contenteditable="plaintext-only" placeholder="Title"><%= data.title %></span>
    <span data-field="name" contenteditable="plaintext-only" placeholder="Name"><%= data.name %></span>
    <span data-field="number" contenteditable="plaintext-only" placeholder="Phone"><%= data.number %></span>

    <div class="pull-right">
        <span class="glyphicon glyphicon-move handle btn btn-xs"></span>
        <span class="glyphicon glyphicon-remove remove btn btn-xs btn-danger"></span>
    </div>
</script>

{% endblock %}
